<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998012965470-f6jjm6a8rqnvv02f64a9vutpt21an602.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998012965470-f6jjm6a8rqnvv02f64a9vutpt21an602</string>
	<key>API_KEY</key>
	<string>AIzaSyAYiIUnWadTPJbwO6c2ANW5Cv5oWlHtSgY</string>
	<key>GCM_SENDER_ID</key>
	<string>998012965470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.operaAppWindows</string>
	<key>PROJECT_ID</key>
	<string>operaapp-45b6d</string>
	<key>STORAGE_BUCKET</key>
	<string>operaapp-45b6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998012965470:ios:380c36989563698fc65acf</string>
</dict>
</plist>